:root {
--title-color: #2E2F42;
--main-text-color: #434455;
--second-text-color: #ffffff;
--pressed-state: #404BBF;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link{
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-logo span {
    color: #2E2F42;
}
.main-list {
    display: flex;
    gap: 40px;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.header-container {
    display: flex;
    align-items: center;

}
.header-navigation {
    display: flex;
    align-items: center;
justify-content:space-between;
}
.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color var(--transition)
}
.header-menu-item:is(:hover, :focus) {
    color: var(--pressed-state);
}
.header-menu {
    color: var(--title-color);
    padding-top: 24px;
    padding-bottom: 24px;

}
.header-menu:is(:hover, :focus) {
    color: var(--pressed-state);
}
.address {
    font-style: normal;
    margin-left: 332px;
}
.address-list {
    display: flex;
    gap: 40px;

}
.header-address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    font-style: normal;
}
.header-address:is(:hover, :focus){
    color: var(--pressed-state);
}
.hero {
background-image: linear-gradient( to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
padding: 188px 0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 316px;
    max-width: 1440px;
}
.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
        max-width: 496px ;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;

}

.hero-btn {
        display: block;
        min-width: 169px;
        height: 56px;
       font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
        background-color: #4D5AE5;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        align-self: center;
        box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.15);
}
.hero-btn:is(:hover, :focus){
    background-color: #404BBF
}
.advantages {
    visibility: hidden;
}
.benefits {
    padding-top: 120px;
    padding-bottom: 60px;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-subtitle {        
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 8px;
}
.benefits-item {
    width: calc((100% - 72px) /4);
}
.benefits-item-con {
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefits-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.our-activity{
    padding-top: 60px;
    padding-bottom: 120px;
    
}
.activity {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.activity-list {
    display: flex;
    gap:24px;
}
.activity.item {
    width: calc((100% - 24px *2) /3);
}
.team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}


.team-item { 
       background-color: #FFFFFF;
       width: calc((100% - 24px * 3) / 4);
        border-radius: 0px 0px 4px 4px;
    }
.container-team {
    /* padding: 32px 16px; */
    padding: 32px 0 32px
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 8px;


}

.team-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--main-text-color);
        padding-bottom: 32px;
}
.soc-icon {
    gap: 24px;
    justify-content: center;
    display: flex;
}

.soc-icon-team {
    width: 40px;
    height: 40px;
}

.sending {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;

}

.icons-soc {
    fill:#F4F4FD;
}
.footer{
        background-color: #2E2F42;
        padding-top: 100px;
        padding-bottom: 100px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    padding-bottom: 16px;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo span{
    color: #F4F4FD;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        max-width: 264px;
}

.categories {
    padding-top: 96px;
    padding-bottom: 120px;
}
.categories-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.categories-btn { 
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
        background-color: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        padding: 12px 24px;
    }
.categories-btn:is(:hover, :focus){
    border: 1px solid transparent;
}


.categories-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background-color:#404BBF;
}
.cateries-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 72px;
    row-gap: 48px;
}
.categoties-link {
    width: calc((100% - 24px * 2) / 3);
    border: 1px solid #E7E9FC;
}
.container-product {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.product-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 8px
}

.product-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        padding-bottom: 32px;
        padding-left: 16px;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
